* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: flex;
    margin: 50px 50px;
    justify-content: center;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 275px 250px 275px;
    grid-template-rows: 200px 200px 200px;
    gap: 0.5em;

    grid-template-areas:
        "img-1 img-2 img-3"
        "img-1 img-5 img-3"
        "img-4 img-5 img-6"
    ;

}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    background-image: linear-gradient(15deg,
            rgb(14, 1, 14) 0%,
            rgb(238, 238, 238) 100%);
    padding: 5px;
}

@media(max-width: 769px) {

    .grid-container {

        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;

        grid-template-areas: 
        "img-1 img-2 img-3"
        "img-1 img-2 img-3"
        "img-4 img-5 img-6"
        ;
    }

}

@media(max-width: 426px) {

    .grid-container {

        grid-template-columns: 300px ;
        grid-template-rows: 300px;

        grid-template-areas: 
        "img-1"
        "img-1"
        "img-2"
        "img-2"
        "img-3"
        "img-3"
        "img-4"
        "img-4"
        "img-5"
        "img-5"
        "img-6"
        "img-6"
        ;
    }
}